*{
    margin: 0;padding: 0;
}

.header-wrapper{
    display:flex;
    background-color: black;
    gap:1em;
    height:2em;
    align-items: center;
    padding:1em;
}

a{
    color:white;
    text-decoration: none;
}
a:active{color:green}