*{
    margin: 0;padding: 0;
}

.header-wrapper{
    display:flex;
    background-color: rgb(167, 98, 167);
    gap:1em;
    height:2em;
    align-items: center;
    padding:1em;
    justify-content: space-between;
}

a{
    color:white;
    text-decoration: none;
}
a:active{color:green}